@import url('https://fonts.cdnfonts.com/css/din-pro'); /* DINpro */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /* Noto Sans */

/* COLORS */
:root {
	--pastel-purple: #A88AA8;
	--pastel-pink: #EA668E;
	--bright-purple: #B377DB;
	--lighter-purple: #b5a1c4;
	--bright-pink: #FF5091;
	--light-purple: #DED2E5;
	--light-pink: #F8D2E0;
	--black: #2D2D2D;
	--grey: #464343;
	--light-grey: #8B8787;
	--lighter-grey: #E2DCDC;

	font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}

body {
	background-color: #F6F4F7;
}

div {
	z-index: 50;
}

/* HEADINGS */
h1, h2, h3, h4, h5 {
    font-family: 'DIN Pro', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 96px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 42px;
}

h3.medium {
	font-weight: 500;
}

h4 {
    font-size: 36px;
}

h4.medium {
	font-weight: 500;
}

h5 {
	font-size: 24px;
}

h5.medium {
	font-weight: 500;
}

/* BODY */
p.body2 {
	font-size: 14px;
}
p.bold {
	font-weight: 700;
}
p.semi {
	font-weight: 500;
}

a {
	box-sizing: content-box !important;
	width: max-content;
	color: var(--pastel-purple);
}

a:hover {
	text-decoration: none;
	color: var(--bright-purple);
}

.form-control {
	border: 1px solid var(--pastel-purple) !important;
}
  
.form-control:focus {
	outline: 0 !important;
	box-shadow: 0 0 0 0.2rem rgba(234, 102, 142, .25) !important;
}

.tooltip .tooltip-inner{
	max-width: 800px !important;
	padding: 10px;
	background-color: #d4b3e7;
	opacity: 1.0 !important;
}

a.redirect-link{
	color: var(--pastel-pink);
	text-decoration: underline;
}

.page-header {
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: var(--bright-purple);

}


.custom-file-label {
    border-color: #EA668E !important;
}

.btn-primary {
    background: #EA668E;
    border-radius: 4px;
    border-color:#EA668E;
}

.btn-primary:focus {
    background: #EA668E !important;
    border-radius: 4px !important;
	border-color:rgb(234, 102, 142) !important;
	box-shadow: 0 0 0 0.2rem rgba(234, 102, 142, .25) !important;
}

.btn-primary:active {
    background: #EA668E !important;
    border-radius: 4px !important;
	border-color:rgb(234, 102, 142) !important;
	box-shadow: 0 0 0 0.2rem rgba(234, 102, 142, .25) !important;
}

.btn-primary:hover {
    background: #EA668E !important;
    border-radius: 4px !important;
	border-color:rgb(234, 102, 142) !important;
	box-shadow: 0 0 0 0.2rem rgba(234, 102, 142, .5) !important;
}

button:focus {
	outline:0 !important;;
}
