@import url('https://fonts.cdnfonts.com/css/dinpro'); /* DINpro */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /* Noto Sans */

/* COLORS */
:root {
	--pastel-purple: #A88AA8;
	--pastel-pink: #EA668E;
	--bright-purple: #B377DB;
	--bright-pink: #FF5091;
	--light-purple: #DED2E5;
	--light-pink: #F8D2E0;

	--black: #2D2D2D;
	--grey: #464343;
	--light-grey: #8B8787;
	--lighter-grey: #E2DCDC;

	font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}

/* HEADINGS */
h1, h2, h3, h4, h5 {
    font-family: 'DINPro', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 96px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 42px;
}

h3.medium {
	font-weight: 500;
}

h4 {
    font-size: 36px;
}

h4.medium {
	font-weight: 500;
}

h5 {
	font-size: 24px;
}

h5.medium {
	font-weight: 500;
}

/* BODY */
p.body2 {
	font-size: 14px;
}
p.bold {
	font-weight: 700;
}
p.semi {
	font-weight: 500;
}

a {
	color: var(--pastel-purple);
}

a:hover {
	color: var(--bright-purple);
}

.form-control {
	border: 1px solid var(--pastel-pink) !important;
}
  
.form-control:focus {
	outline: 0 !important;
	box-shadow: 0 0 0 0.2rem rgba(234, 102, 142, .25) !important;
}